{% extends 'base.html' %}

<!---->
{% block styles %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/index.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/login.css') }}"
/>
{% endblock %}

{% block content %}

<h1 class="page-header">Baseball Database</h1>

{% if not message %}
<form action="" method="POST" novalidate class="login-form">
    {{ form.hidden_tag() }}
    <p class="input-container">
        {{ form.player_search.label }}
        <!---->
        {{ form.player_search(size=32, class_="form-input", placeholder="<First Name> <Last Name>") }}
        <!---->
        {% for error in form.player_search.errors %}
        <span style="color: red">{{ error }}</span>
        {% endfor %}
    </p>
    <p class="input-container">{{ form.search_submit(class_="form-submit") }}</p>
</form>
{% endif %}

{% if people %}
{% for person in people %}
<a href="{{ url_for('index', playerid=person.playerID, firstName=nameFirst, lastName=nameLast) }}">{{ person.playerID }}</a>
{% endfor %}
{% endif %}

{% if message %}
<p class="message">{{ message }}</p>
{% endif %}

{% if players or player_batting %}
{% if not current_user.is_anonymous %}
<div class="player-name-and-btn">
    <h2 class="player-name">Player: <span>{{ nameFirst.capitalize() }} {{ nameLast.capitalize() }}</span></h2>

    <form action="{{ url_for('favorites') }}" method="POST" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.player_id(value=players[0].playerID, hidden=True) }}
        </p>
        <p>
            {{ form.favorite_submit(class_="form-submit favorites-btn") }}
        </p>
    </form>

</div>
{% else %}
<h2 class="player-name" style="margin-bottom: 2rem">Player: <span>{{ nameFirst.capitalize() }} {{ nameLast.capitalize() }}</span></h2>
{% endif %}


<table class="player-table">
    <tr class="player-table-name">
        <td>Pitching Statistics</td>
    </tr>
    <tr class="player-table-head">
        <th>Year ID</th>
        <th>Stint</th>
        <th>Team ID</th>
        <th>League ID</th>
        <th>TW</th>
        <th>TB</th>
        <th>SS</th>
        <th>TOB</th>
        <th>BA</th>
        <th>PA</th>
        <th>RC</th>
        <th>PARC</th>
        <th>PARC27</th>
        <th>PARCA</th>
    </tr>

    {% for player in players %}
    {% if player.PARCA is not none %}
    <tr class="player-table-rows">
        <td>{{ player.yearID }}</td>
        <td>{{ player.stint }}</td>
        <td>{{ player.teamID }}</td>
        <td>{{ player.lgID }}</td>
        <td>{{ player.TB }}</td>
        <td>{{ player.TW }}</td>
        <td>{{ player.SS }}</td>
        <td>{{ player.TOB }}</td>
        <td>{{ player.BA }}</td>
        <td>{{ player.PA }}</td>
        <td>{{ player.RC }}</td>
        <td>{{ player.PARC }}</td>
        <td>{{ player.PARC27 }}</td>
        <td>{{ player.PARCA }}</td>
    </tr>
    {% endif %}
    {% endfor %}

</table>

<table class="player-table">
    <tr class="player-table-name">
        <td>Batting Statistics</td>
    </tr>
    <tr class="player-table-head">
        <th>Year ID</th>
        <th>Games</th>
        <th>At Bats</th>
        <th>Runs</th>
        <th>Singles</th>
        <th>Doubles</th>
        <th>Triples</th>
        <th>Home Runs</th>
        <th>Runs Batted In</th>
        <th>Stolen Bases</th>
        <th>Caught Stealing</th>
        <th>Walks</th>
        <th>Strikeouts</th>
        <th>Intentional Walks</th>
        <th>Hit by Pitch</th>
        <th>Sacrifice Hits</th>
        <th>Sacrifice Flies</th>
        <th>GIDP</th>
        <th>OBP</th>
        <th>RC</th>
        <th>RC27</th>
    </tr>

    {% for player in player_batting %}
    {# {% if player.RC is not none %} #}
    <tr class="player-table-rows">
        <td>{{ player.yearID }}</td>
        <td>{{ player.G }}</td>
        <td>{{ player.AB }}</td>
        <td>{{ player.R }}</td>
        <td>{{ player.H }}</td>
        <td>{{ player.B2 }}</td>
        <td>{{ player.B3 }}</td>
        <td>{{ player.HR }}</td>
        <td>{{ player.RBI }}</td>
        <td>{{ player.SB }}</td>
        <td>{{ player.CS }}</td>
        <td>{{ player.BB }}</td>
        <td>{{ player.SO }}</td>
        <td>{{ player.IBB }}</td>
        <td>{{ player.HBP }}</td>
        <td>{{ player.SH }}</td>
        <td>{{ player.SF }}</td>
        <td>{{ player.GIDP }}</td>
        <td>{{ player.OBP }}</td>
        <td>{{ player.TB }}</td>
        <td>{{ player.RC }}</td>
        <td>{{ player.RC27 }}</td>
    </tr>
    {# {% endif %} #}
    {% endfor %}

</table>

{% endif %}

{% endblock %}
